<!DOCTYPE html>
<html>
<body>

<h1>Dale una probadita al NIES (Nepo Index for European Soccer) para tener las predicciones más sabrosas del fútbol europeo. </h1>

<p>Por favor selecciona la liga de algún país.</p>

<p>
  <ol>
    <li><a href="https://dlr4ek.deta.dev/liga/francia">Francia</a></li>
    <li><a href="https://dlr4ek.deta.dev/liga/alemania">Alemania</a></li>
    <li><a href="https://dlr4ek.deta.dev/liga/italia">Italia</a></li>
    <li><a href="https://dlr4ek.deta.dev/liga/holanda">Holanda</a></li>
    <li><a href="https://dlr4ek.deta.dev/liga/espagna">España</a></li>
    <li><a href="https://dlr4ek.deta.dev/liga/portugal">Portugal</a></li>
    <li><a href="https://dlr4ek.deta.dev/liga/inglaterra">Inglaterra</a></li>
  </ol>
</p>

</body>
</html>